<a href="https://colab.research.google.com/github/proteus21/DATA-SCIENCE-STUDY/blob/main/Machine%20Learning/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

###Input data / Załadowanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

             Open    High    Low  Close    Volume
Date
2023-01-10  87.57  90.185  87.29  89.87  67756601
2023-01-09  87.46  89.480  87.08  87.36  65266056
2023-01-06  83.03  86.400  81.43  86.08  83303361
2023-01-05  85.33  85.420  83.07  83.12  67930825
2023-01-04  86.55  86.980  83.36  85.14  68885123

Backup data / Kopia danych

In [3]:
df=df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-01-10 to 2018-01-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

Generate new variables / Generowanie nowych zmiennych

In [4]:
df.index.month

Int64Index([ 1,  1,  1,  1,  1,  1, 12, 12, 12, 12,
            ...
             1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
           dtype='int64', name='Date', length=1257)

In [5]:
df['day']=df.index.day
df['month']=df.index.month
df['year']=df.index.year
df

               Open    High      Low   Close     Volume  day  month  year
Date
2023-01-10  87.5700  90.185  87.2900  89.870   67756601   10      1  2023
2023-01-09  87.4600  89.480  87.0800  87.360   65266056    9      1  2023
2023-01-06  83.0300  86.400  81.4300  86.080   83303361    6      1  2023
2023-01-05  85.3300  85.420  83.0700  83.120   67930825    5      1  2023
2023-01-04  86.5500  86.980  83.3600  85.140   68885123    4      1  2023
...             ...     ...      ...     ...        ...  ...    ...   ...
2018-01-19  65.6000  65.650  64.6495  64.729   90395880   19      1  2018
2018-01-18  64.6975  65.230  64.2010  64.666   80444540   18      1  2018
2018-01-17  65.6120  65.700  64.0440  64.750  104815680   17      1  2018
2018-01-16  66.1500  66.997  64.6150  65.243  143108320   16      1  2018
2018-01-12  63.6695  65.288  63.6695  65.260  108750540   12      1  2018

[1257 rows x 8 columns]

Desctetization variable / Dyskretyzacja zmiennych

In [6]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [10]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [14]:
df['height_cat']=pd.cut(x=df.height, bins=(160,170,180,195))
df

   height  height_cat
0   175.0  (170, 180]
1   178.5  (170, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 170]

In [15]:
df['height_cat']=pd.cut(x=df.height, bins=(160,170,180,195), labels=['small', 'medium','heigh'])
df

   height height_cat
0   175.0     medium
1   178.5     medium
2   185.0      heigh
3   191.0      heigh
4   184.5      heigh
5   183.0      heigh
6   168.0      small

In [16]:
pd.get_dummies(df,drop_first=True, prefix='height')

   height  height_medium  height_heigh
0   175.0              1             0
1   178.5              1             0
2   185.0              0             1
3   191.0              0             1
4   184.5              0             1
5   183.0              0             1
6   168.0              0             0

###Feature extraction / Ekstrakcja cech

In [17]:
df=pd.DataFrame(data={'lang':[['PL','ENG'],['GER','ENG','PL','FR'],['RUS']]})
df

                 lang
0           [PL, ENG]
1  [GER, ENG, PL, FR]
2               [RUS]

In [18]:
df['lang_number']=df['lang'].apply(len)
df

                 lang  lang_number
0           [PL, ENG]            2
1  [GER, ENG, PL, FR]            4
2               [RUS]            1

In [19]:
df['PL_Flag']=df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                 lang  lang_number  PL_Flag
0           [PL, ENG]            2        1
1  [GER, ENG, PL, FR]            4        1
2               [RUS]            1        0

In [20]:
df=pd.DataFrame(data={'website':['interia.pl','google.com','yahoo.com']})
df

      website
0  interia.pl
1  google.com
2   yahoo.com

In [21]:
df.website.str.split('.',expand=True)

         0    1
0  interia   pl
1   google  com
2    yahoo  com

In [22]:
new=df.website.str.split('.',expand=True)
df['portal']=new[0]
df['extensions']=new[1]
df

      website   portal extensions
0  interia.pl  interia         pl
1  google.com   google        com
2   yahoo.com    yahoo        com