<a href="https://colab.research.google.com/github/proteus21/DATA-SCIENCE-STUDY/blob/main/Machine%20Learning/03_classification/07_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To install scikit-learn library use command below
Aby zainstalować bibliotekę scikit-learn, użyj polecenia poniżej:

**!pip install scikit-learn**

In order to update to newest scikit-learn library, use command below

Aby zaktualizować do najnowszej wersji bibliotekę scikit-learn, użyj polecenia poniżej:

**!pip install --upgrade scikit-learn**

### Contest:
1. [Import library](#0)
2. [Data laoding](#1)
3. [Preapare datas to the model](#2)
4. [Bayes classificator](#3)




### Spis treści:
1. [Import bibliotek](#1)
2. [Załadowanie danych](#2)
3. [Przygotowanie danych do modelu](#3)
4. [Klasyfikator bayesowski](#4)

### <a name='1'></a> Import library / Import bibliotek

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
sns.set(font_scale=1.3)
np.random.seed(42)
np.set_printoptions(precision=6, suppress=True)
sklearn.__version__

'1.0.2'

### <a name='1'></a> Załadowanie danych / Data laoding

In [4]:
pogoda = ['słonecznie', 'deszczowo', 'pochmurno', 'deszczowo', 'słonecznie', 'słonecznie',
          'pochmurno', 'pochmurno', 'słonecznie']
temperatura = ['ciepło', 'zimno', 'ciepło', 'ciepło', 'ciepło', 'umiarkowanie',
               'umiarkowanie', 'ciepło', 'zimno']

spacer = ['tak', 'nie', 'tak', 'nie', 'tak', 'tak', 'nie', 'tak', 'nie']      

raw_df = pd.DataFrame(data={'pogoda': pogoda, 'temperatura': temperatura, 'spacer': spacer})
df = raw_df.copy()
df

       pogoda   temperatura spacer
0  słonecznie        ciepło    tak
1   deszczowo         zimno    nie
2   pochmurno        ciepło    tak
3   deszczowo        ciepło    nie
4  słonecznie        ciepło    tak
5  słonecznie  umiarkowanie    tak
6   pochmurno  umiarkowanie    nie
7   pochmurno        ciepło    tak
8  słonecznie         zimno    nie

### <a name='2'></a> Preapare datas to the model / Przygotowanie danych do modelu

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['spacer']=encoder.fit_transform(spacer)
df

       pogoda   temperatura  spacer
0  słonecznie        ciepło       1
1   deszczowo         zimno       0
2   pochmurno        ciepło       1
3   deszczowo        ciepło       0
4  słonecznie        ciepło       1
5  słonecznie  umiarkowanie       1
6   pochmurno  umiarkowanie       0
7   pochmurno        ciepło       1
8  słonecznie         zimno       0

In [9]:
df = pd.get_dummies(df,  drop_first=True)
df

,spacer,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,1,0,1,0,0
1,0,0,0,0,1
2,1,1,0,0,0
3,0,0,0,0,0
4,1,0,1,0,0
5,1,0,1,1,0
6,0,1,0,1,0
7,1,1,0,0,0
8,0,0,1,0,1

In [10]:
data=df.copy()
target=data.pop('spacer')
data

,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,0,1,0,0
1,0,0,0,1
2,1,0,0,0
3,0,0,0,0
4,0,1,0,0
5,0,1,1,0
6,1,0,1,0
7,1,0,0,0
8,0,1,0,1

In [11]:
target

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    1
8    0
Name: spacer, dtype: int64

### <a name='3'></a> Bayes classifier / Klassyfikator bayesowski

In [12]:
from sklearn.naive_bayes import  GaussianNB

model=GaussianNB()
model.fit(data, target)

GaussianNB()

In [13]:
model.score(data, target)

0.7777777777777778

In [18]:
data.iloc[[0]]

,pogoda_pochmurno,pogoda_słonecznie,temperatura_umiarkowanie,temperatura_zimno
0,0,1,0,0

In [19]:
model.predict(data.iloc[[0]])

array([1])

In [20]:
encoder.classes_

array(['nie', 'tak'], dtype='<U3')

In [21]:
encoder.classes_[model.predict(data.iloc[[0]])[0]]

'tak'

In [22]:

model.predict_proba(data.iloc[[0]])

array([[0.000006, 0.999994]])