<a href="https://colab.research.google.com/github/proteus21/DATA-SCIENCE-STUDY/blob/main/Machine%20Learning/08_association_rules/08_apriori_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### UCZENIE NIENADZOROWANE /  UNSUPERVISED LEARNING

# Association rules - apriori algorithm

A basic library for machine learning in Python
To install the scikit-learn library, use the command below:
```
!pip install scikit-learn
```
To update to the latest version of the scikit-learn library, use the command below:
```
!pip install --upgrade scikit-learn
```

### Contents:
1. [Import libraries](#0)
2. [Data generation ](#1)
3. [Data preaparing](#2)
4. [Apriori algoritm](#3)

### <a name='0'></a> Import libraries

In [ ]:
import pandas as pd
import numpy as np

### <a name='1'></a> Data generation

In [ ]:

data = {'produkty': ['chleb jajka mleko', 'mleko ser', 'chleb masło ser', 'chleb jajka']}

transactions=pd.DataFrame(data=data, index=['1','2','3','4'])
transactions.head()

            produkty
1  chleb jajka mleko
2          mleko ser
3    chleb masło ser
4        chleb jajka

### <a name='2'></a> Data preaparing

In [ ]:
expand=transactions['produkty'].str.split(expand=True)
expand

       0      1      2
1  chleb  jajka  mleko
2  mleko    ser   None
3  chleb  masło    ser
4  chleb  jajka   None

In [ ]:
# extraction of all product names
products=[]
for col in expand.columns:
  for product in expand[col].unique():
    if product is not None and product not in products:
            products.append(product)
products.sort()
print(products)

['chleb', 'jajka', 'masło', 'mleko', 'ser']

In [ ]:
transactions_encoded = np.zeros((len(transactions), len(products)), dtype='int8')
transactions_encoded

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int8)

In [ ]:
#coding 0-1
for row in zip(range(len(transactions)), transactions_encoded, expand.values):
   for idx, product in enumerate(products):
      if product in row[2]:
               transactions_encoded[row[0], idx] = 1
transactions_encoded

array([[1, 1, 0, 1, 0],
       [0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1],
       [1, 1, 0, 0, 0]], dtype=int8)

In [ ]:
transactions_encoded_df=pd.DataFrame(transactions_encoded, columns=products)
transactions_encoded_df

   chleb  jajka  masło  mleko  ser
0      1      1      0      1    0
1      0      0      0      1    1
2      1      0      1      0    1
3      1      1      0      0    0

### <a name='3'></a> Apriori algorithm

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

supports=apriori(transactions_encoded_df,min_support=0.0, use_colnames=True)
supports

    support                           itemsets
0      0.75                            (chleb)
1      0.50                            (jajka)
2      0.25                            (masło)
3      0.50                            (mleko)
4      0.50                              (ser)
5      0.50                     (jajka, chleb)
6      0.25                     (chleb, masło)
7      0.25                     (mleko, chleb)
8      0.25                       (ser, chleb)
9      0.00                     (jajka, masło)
10     0.25                     (mleko, jajka)
11     0.00                       (jajka, ser)
12     0.00                     (mleko, masło)
13     0.25                       (ser, masło)
14     0.25                       (mleko, ser)
15     0.00              (jajka, chleb, masło)
16     0.25              (mleko, jajka, chleb)
17     0.00                (ser, jajka, chleb)
18     0.00              (mleko, chleb, masło)
19     0.25                (ser, chleb, masło)
20     0.00                (mleko, ser, chleb)
21     0.00              (mleko, jajka, masło)
22     0.00                (jajka, ser, masło)
23     0.00                (mleko, jajka, ser)
24     0.00                (mleko, ser, masło)
25     0.00       (mleko, jajka, chleb, masło)
26     0.00         (ser, jajka, chleb, masło)
27     0.00         (mleko, ser, jajka, chleb)
28     0.00         (mleko, ser, chleb, masło)
29     0.00         (mleko, jajka, ser, masło)
30     0.00  (ser, masło, mleko, jajka, chleb)

In [ ]:
supports=apriori(transactions_encoded_df,min_support=0.3, use_colnames=True)
supports

   support        itemsets
0     0.75         (chleb)
1     0.50         (jajka)
2     0.50         (mleko)
3     0.50           (ser)
4     0.50  (jajka, chleb)

In [ ]:

rules = association_rules(supports, metric='confidence', min_threshold=0.65)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(jajka),(chleb),0.50,0.75,0.5,1.000000,1.333333,0.125,inf
1,(chleb),(jajka),0.75,0.50,0.5,0.666667,1.333333,0.125,1.5

In [11]:

rules.sort_values(by='lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(jajka),(chleb),0.50,0.75,0.5,1.000000,1.333333,0.125,inf
1,(chleb),(jajka),0.75,0.50,0.5,0.666667,1.333333,0.125,1.5